name: golangci-lint
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'cmd/**'
      - 'internal/**'
      - '.golangci.yml'
      - 'go.mod'
      - 'go.sum'
      - 'docker/*'
      - '.devcontainer/*'

permissions:
  contents: read

jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '1.21'
      - name: Setup .pem files
        run: |
          echo "$SECRET_KEY" > internal/auth/cert/secret.pem
          echo "$PUBLIC_KEY" > internal/auth/cert/public.pem
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY_CI }}
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY_CI }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v3.7.1
        with:
          version: v1.55.2
