name: secretlint

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  secretlint:
    name: secretlint
    runs-on: ubuntu-latest
    # Skip any PR created by dependabot to avoid permission issues
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
      - id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v45.0.8
        with:
          separator: "\n"
      - name: Run secretlint
        if: steps.changed-files.outputs.all_changed_files_count != '0'
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sudo apt install xmlstarlet
          echo "${{ steps.changed-files.outputs.all_changed_files }}" \
          | awk '{print "\"" $0 "\""}' \
          | sed -r 's/([()!\^#$&*?{}\[<>;| ])/\\\1/g' \
          | sed -r 's/(\])/\\\1/g' \
          | tr "\n" " " \
          | xargs docker run \
              -v $(pwd):/workdir \
              -w /workdir \
              secretlint/secretlint:v7.0.2@sha256:f0b1a4944a6a0f3d6a494c063b807ff6febc762f6fdf52466b2b8e3b278966d2 \
              secretlint ${{ inputs.secretlint-options }} --output secretlint_result.txt --format checkstyle
          sed 's#="/workdir/#="#g' secretlint_result.txt \
          | xmlstarlet ed -d "/checkstyle/file[not(error)]" \
          | reviewdog --name=secretlint -f=checkstyle -reporter=github-pr-review -diff="git diff FETCH_HEAD"
