name: semgrep

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  semgrep:
    name: semgrep
    runs-on: ubuntu-latest
    # Skip any PR created by dependabot to avoid permission issues
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
      - id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v45.0.8
        with:
          separator: "\n"
      - id: run-semgrep
        if: steps.changed-files.outputs.all_changed_files_count != '0'
        name: Run semgrep
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "${{ steps.changed-files.outputs.all_changed_files }}" \
          | awk '{print "\"" $0 "\""}' \
          | tr "\n" " " \
          | xargs docker run \
              -v $(pwd):/workdir \
              --workdir /workdir \
              returntocorp/semgrep:1.27.0@sha256:7026020ebb6c1aa477431a2ba550df3ae4d080822e391d03bb816eeac700a36b \
              semgrep scan ${{ inputs.semgrep-options }} --json \
          | jq '
              {
                source: { name: "semgrep", url: "https://semgrep.dev" },
                diagnostics: .results | map({
                  message: .extra.message,
                  location: {
                    path: .path,
                    range: {
                      start: {
                        line: .start.line,
                        column: .start.col
                      }
                    }
                  }
                })
              }' \
          | sed 's#^/workdir/##' \
          | reviewdog \
              -f=rdjson \
              -diff="git diff FETCH_HEAD" \
              -reporter=github-pr-review
